<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	     <div class="col-sm-6">
    		<p align="justify">
            I am interested in working on changing environment, latest technologies and innovations. Currently, dealing with projects and research in the field of Deep learning.   
	I have attended various Workshops and undergone internship in Data Science and Artificial Intelligence. 
	My programming skills include Python, R programming, PHP. 
	I'm also proficient with Web development using Django, PHP, HTML/CSS, Javascript, MySQL.
	I have published research papers in the field of Natural language processing and Cybersecurity using deep learning techniques. 
	      </p>
        <p align="justify">
          I have the ability to learn from scratch and i am a quick learner. My area of interest include Machine Learning, Deep Learning, Artificial Intelligence, Natural Language
Processing, Ethical Hacking, Data Analytics, Internet Of Things. Apart from this, Things that I do in my free time include Internet surfing, Watching series or movies. 
	Feel free to look around, check out my portfolio, or get in touch.
        </p>
      </div> 
	  <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li align="justify">
            Published and Presented a Research Paper <i>“Detecting DGA using Deep Neural Netwoks”</i>  In International Symposium on Security in Computing and Communication (SSCC’ 18) held at PES , Bangalore.
			    </li>
            
    			<li align="justify">
            Published a Research Paper <i>"A deep learning approach for Part-of-Speech tagging in Nepali language"</i>  in 2018 International Conference on Advances in
Computing, Communications and Informatics (ICACCI).
    			</li>
    			<li align="justify">
            Awarded for Displaying Exemplary Team Sprit & succeeding in making the team champion in the Persona Enhancement Workshop <i>mPOWER</i> during July 2015.
    			</li>
			
		    </ul>
	    </div>
  </div>
	    </div>
</section>
