<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a Data Science enthusiast. 
	I have attended various Workshops and undergone internship in Data Science and Artificial Intelligence. 
	My programming skills include Python, R programming, PHP. 
	I'm also proficient with Web development using Django, PHP, HTML/CSS, Javascript, MySQL.
	I have published research papers in the field of Natural language processing and Cybersecurity using deep learning techniques. 
	I have the ability to learn from scratch and i am a quick learner.
        </p>
        <p>
          Apart from this, Things that I do in my free time include Internet surfing, Watching series or movies, Blogging. Basically, loves anything on laptop and being outdoor with my friends.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Published and Presented a Research Paper “Detecting DGA using Deep Neural Netwoks” In International Symposium on Security in Computing and Communication (SSCC’ 18) held at PES , Bangalore.
    			</li>
          <li>
            Co-author of a Book Chapter “AmritaDGA: A Comprhensive Data set for Domain Generation Algorithms (DGAs)” in Big Data Recommender Systems:
Recent Trends and Advances, to be published by Institution of Engineering and Technology (IET).
          <\li>
            
    			<li>
            Published a Research Paper 'A deep learning approach for Part-of-Speech tagging in Nepali language' in 2018 International Conference on Advances in
Computing, Communications and Informatics (ICACCI).
    			</li>
    			<li>
            Awarded for Displaying Exemplary Team Sprit & succeeding in making the team champion in the Persona Enhancement Workshop mPOWER during July 2015.
    			</li>
			<li>Secured 3rd Position in University Level Fencing Tournament: Épée and Sabre
held at Kerala Verma College, Thrissur on 08th Dec 2016.</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
