<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <ul>
			  <li>
				 <b>Webpage Classification for Safer Browsing</b>. A web browser Plug-In that could detect malicious domain and classify it into its respective DGA malware
family using Deep learning techniques.
			  </li>
			  <li>
				  <b>Predicting Course Knowledge of Student Using Data Mining Techiques</b>. Predicting the students knowledge blooming level based on their performance in the continuous internal tests.
			  </li>
			  <li>
				  <b><a href="https://github.com/JyothsnaVarrier/Course-Suggesstion-system">Elective Course Suggestion System Using Fuzzy Logic</a>
</b>. To guide the students about elective courses that are compatible with their skill and interest , hence resulting in better performance. 

      </li>
			    <li>
				  <b><a href="https://github.com/JyothsnaVarrier/Budget-Management-System">Budget Management System</a></b>. Budget Management System, is a useful web application for managing a department's budget and for making realistic assessment about expenses.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Publications</h3>
		  <ul>
  			<li>
          OpenGidget is an open-source fork of Raspbian Linux that makes it easier to auto-provision a headless Raspberry PI,
          get it onto your WiFi network, and deploy simple Python and Ruby scripts that run at startup - all without needing to plug in a keyboard/monitor.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    
    </div>
  </div>
</section>
